{% from 'bootstrap/form.html' import render_form %}

{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align:center;">Employees</h1>
    
    {% if employees %}
        <hr>
        <div class="justify-content-center">
            <div class="" id="">
            <table class="table table-striped table-bordered table-responsive table-box-shadow-ntek table-bg-ntek">
                <thead class="">
                    <tr>
                        <th width="15%"> Name </th>
                        <th width="35%"> Department </th>
                        <th width="35%"> Role </th>
                        <th width="15%"> Assign </th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        {% if employee.is_admin %}
                        <tr style="background-color: #aec251; color: white;">
                            <td> <i class="fa fa-key"></i> Admin </td>
                            <td> N/A </td>
                            <td> N/A </td>
                            <td> N/A </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td> {{ employee.first_name }} {{ employee.last_name }} </td>
                                <td>
                                    {% if employee.department %}
                                        {{ employee.department.name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if employee.role %}
                                        {{ employee.role.name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-default btn-custom" href="{{ url_for('admin.assign_employee', id=employee.id) }}">
                                        <i class="fa fa-user-plus"></i> Assign
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}