{% from 'bootstrap/form.html' import render_form %}

{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="ntek-form row justify-content-center shadow p-3 mb-5 bg-white rounded-pill">
        <div class="col-md-10 col-lg-10 col-xl-10 col-sm-10">
            <h1 class="lead">Reset Password</h1>
            <hr>
            <form action="" method="post">
                {{ form.csrf_token() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=40) }}<br>
                    {% for error in form.email.errors %}
                        <span class="small" style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="">{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>

{% endblock %}