{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container">
    <div style="margin-top: 100px;">
        <div class="row">
            <div class="col">
                <div class="">
                    <h1 class="text-center">404 Error</h1>
                    <h3 class="text-center"> The page you're looking for doesn't exist. </h3>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <a href="{{ url_for('public.index') }}" class="btn btn-default btn-lg btn-custom">
                            <i class="fa fa-hand-o-left"></i>
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}