{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- <h1 class="small text-muted text-primary">This is a Why Ntech Page</h1> -->

<div class="container-fluid">

    <p class="lead text-bold">We currently have no opening!!</p>
    <p class="lead text-bold">Please check back later..</p>
    
    <p>
        NTecH Global Workforce is an exclusive staffing partner to progressive businesses and the specialized talent that makes
        them great. We use our insight, knowledge and global resources to make exceptional connections every day. We connect
        exceptional people with job opportunities in Technology, Finance and Accounting, Life Sciences, Operations, and
        Administrative Support.
    </p>
     
</div>


{% endblock %}