{% from 'bootstrap/form.html' import render_field %}
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}


<style>
    /* #post-resume{
        width: 80vw;
        height: 110vh;
    } */
</style>

<div id="post-resume-form" class="container-fluid" id="post-resume">
    <h3 class="text-capitalize lead">Post your resume (* Stars are Mandatory)</h3>
    <hr>
    <div class="container">    
    <form action="" method="post" class="form" role="form" enctype="multipart/form-data"> 
        {{ form.csrf_token() }}

        <!-- This ia a single row -->
        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field(form.first_name, class='form-control', placeholder='First name', autocomplete='off') }}
                {% for error in form.first_name.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                {{ render_field(form.visa_status, class='form-control', placeholder='Visa Status', autocomplete='off') }}
                {% for error in form.visa_status.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field(form.last_name, class='form-control', placeholder='Last name', autocomplete='off') }}
                {% for error in form.last_name.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                {{ render_field(form.current_status, class='form-control', placeholder='Current Status', autocomplete='off') }}
                {% for error in form.current_status.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field(form.contact_number, class='form-control', placeholder='Contact Number', autocomplete='off') }}
                {% for error in form.contact_number.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                {{ render_field(form.job_title, class='form-control', placeholder='Job Title', autocomplete='off') }}
                {% for error in form.job_title.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field(form.alternate_contact_number, class='form-control', placeholder='Alternate Contact Number', autocomplete='off') }}
                {% for error in form.alternate_contact_number.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                {{ render_field(form.available, class='form-control', placeholder='Available to start Project', autocomplete='off') }}
                {% for error in form.available.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field(form.email, class='form-control', placeholder='Contact Email Id', autocomplete='off') }}
                {% for error in form.email.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                {{ render_field(form.alternate_email, class='form-control', placeholder='Alternate Contact Email Id', autocomplete='off') }}
                {% for error in form.alternate_email.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field(form.city, class='form-control', placeholder='City', autocomplete='off') }}
                {% for error in form.city.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                {{ render_field(form.state, class='form-control', placeholder='State', autocomplete='off') }}
                {% for error in form.state.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field(form.cover_letter, class='form-control', placeholder='Upload Cover Letter', autocomplete='off') }}
                {% for error in form.cover_letter.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                {{ render_field(form.resume, class='form-control', placeholder='Upload File', autocomplete='off') }}
                {% for error in form.resume.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field(form.summary, class='form-control', placeholder='Summary', autocomplete='off') }}
                {% for error in form.summary.errors %}
                <span class="small" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                {{ render_field(form.submit) }}
            </div>
        </div>
    </form>
    </div>
</div> 



{% endblock %}