{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- <h1 class="small text-muted text-primary">This is a Why Ntech Page</h1> -->

<div class="container-fluid">

    <p class="display-4">Why Ntech?</p>
    
    <p>
        NTecH Global Workforce is an exclusive staffing partner to progressive businesses and the specialized talent that makes
        them great. We use our insight, knowledge and global resources to make exceptional connections every day. We connect
        exceptional people with job opportunities in Technology, Finance and Accounting, Life Sciences, Operations, and
        Administrative Support.
    </p>
    
    <p>
        Better opportunities. Better balance. Better match. Whatever better means to you, we're the people who make it possible.
        Because your better drives us to seek out the best and brightest in the industry, work with the finest companies in
        their fields, and place the best talent in the marketplace.
    </p>
    
    <p>
        NTecH’s primary objective is to operate its business practices with the highest level of integrity and ethical values
        while striving for excellence within our core values:
    </p>
   
    <ul>
        <li>Customer Service</li>
        <li>Accountability</li>
        <li>Business Integrity</li>
        <li>Positive 'Can do' attitude</li>
    </ul>
    
    
    <p>
Using Agile methodologies, industry certified technologists and our unique approach, we deliver cost-effective solutions
to your staffing challenges. Having a one stop resource at your fingertips eliminates the need to find and manage
multiple parties for multiple initiatives. This saves you time, money and allows you to focus on your core business!
    </p>
    
    

</div>


{% endblock %}