{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- <h1 class="small text-muted text-primary">This is CXO Hiring Page</h1> -->
<div class="container">
    <p class="display-4">What is CXO Hiring?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic tempora at sint molestiae aperiam vitae aut porro
        velit impedit commodi nam cumque eius, omnis officia doloribus animi sequi tempore repellendus dolor voluptatum
        amet optio dicta eos rerum. Rem, porro? Alias quibusdam suscipit obcaecati dolor assumenda, exercitationem ad
        dolores? Ipsum, pariatur!</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic tempora at sint molestiae aperiam vitae aut porro
        velit
        impedit commodi nam cumque eius, omnis officia doloribus animi sequi tempore repellendus dolor voluptatum amet
        optio
        dicta eos rerum. Rem, porro? Alias quibusdam suscipit obcaecati dolor assumenda, exercitationem ad dolores?
        Ipsum,
        pariatur!</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic tempora at sint molestiae aperiam vitae aut porro
        velit
        impedit commodi nam cumque eius, omnis officia doloribus animi sequi tempore repellendus dolor voluptatum amet
        optio
        dicta eos rerum. Rem, porro? Alias quibusdam suscipit obcaecati dolor assumenda, exercitationem ad dolores?
        Ipsum,
        pariatur!</p>

</div>
{% endblock %}